/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .timeLineDiv{
    background-color: '#ffffff';
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timeLine {
    max-width: 90vw;
    min-width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #ececec;
    overflow-x: scroll;
    padding: 10px 20px 30px 20px;
  }

  .eachTimeLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .connectorBlock {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .timeLineDiv{
    background-color: '#ffffff';
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timeLine {
    max-width: 90vw;
    min-width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #ececec;
    overflow-x: scroll;
    padding: 10px 20px 30px 20px;
  }

  .eachTimeLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .connectorBlock {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .timeLineDiv{
    background-color: '#ffffff';
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timeLine {
    max-width: 90vw;
    min-width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #ececec;
    overflow-x: scroll;
    padding: 10px 20px 30px 20px;
  }

  .eachTimeLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .connectorBlock {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .timeLineDiv{
    background-color: '#ffffff';
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timeLine {
    max-width: 90vw;
    min-width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #ececec;
    overflow-x: scroll;
    padding: 10px 20px 30px 20px;
  }

  .eachTimeLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .connectorBlock {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .timeLineDiv{
    background-color: '#ffffff';
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timeLine {
    width: auto;
    max-height: 90vh;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    overflow-y: scroll;
    padding: 10px 30px 10px 10px;
  }

  .eachTimeLine {
    text-align: center;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .timeLineDiv{
    background-color: '#ffffff';
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timeLine {
    width: 50vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    overflow-y: scroll;
    padding: 10px 20px 30px 20px;
  }

  .eachTimeLine {
    text-align: center;
  }
}
